{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Movies Review
            </h1>

            <span class="font-light text-gray-500 italic">
                Created by Code With Dary
            </span>
        </div>
    </div>

    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
        <!-- Blog Item -->
        <div class="text-center pt-8 pb-4">
            <img
                    src="https://cdn.pixabay.com/photo/2018/05/08/11/36/avenger-3382834_1280.jpg"
                    alt=""
                    class="shadow-xl rounded-md">

            <h2 class="text-gray-700 font-bold text-3xl py-2">
                Avengers
            </h2>

            <span class="text-gray-500">
                By <span class="italic text-sm text-gray-800">Code With Dary | 28.01.2022
            </span>

            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ad voluptatibus perspiciatis nihil debitis labore sequi
            </p>

            <a href="/blog/" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                Keep Reading
            </a>
        </div>

        <!-- Blog Item -->
        <div class="text-center pt-8 pb-4">
            <img
                    src="https://cdn.pixabay.com/photo/2020/06/10/12/58/joker-5282593_1280.jpg"
                    alt=""
                    class="shadow-xl rounded-md">

            <h2 class="text-gray-700 font-bold text-3xl py-2">
                The Joker
            </h2>

            <span class="text-gray-500">
                By <span class="italic text-sm text-gray-800">Code With Dary | 28.01.2022
            </span>

            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ad voluptatibus perspiciatis nihil debitis labore sequi
            </p>

            <a href="/blog/" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                Keep Reading
            </a>
        </div>

        <!-- Blog Item -->
        <div class="text-center pt-8 pb-4">
            <img
                    src="https://cdn.pixabay.com/photo/2019/07/13/04/00/batman-4333998_1280.jpg"
                    alt=""
                    class="shadow-xl rounded-md">

            <h2 class="text-gray-700 font-bold text-3xl py-2">
                Batman
            </h2>

            <span class="text-gray-500">
                By <span class="italic text-sm text-gray-800">Code With Dary | 28.01.2022
            </span>

            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ad voluptatibus perspiciatis nihil debitis labore sequi
            </p>

            <a href="/blog/" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                Keep Reading
            </a>
        </div>
    </div>
{% endblock %}